@using kuro_desserts.Models
<div class="modal show" style="display: block;">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Your addresses</h5>
                <button type="button" class="btn-close" @onclick="OnCancel"></button>
            </div>
            <div class="modal-body">
                @if (Addresses != null)
                {
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Line</th>
                            <th scope="col">Postal code</th>
                            <th scope="col">City</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var address in Addresses)
                        {
                            <tr>
                                <td>@address.Line</td>
                                <td>@address.PostalCode</td>
                                <td>@address.City</td>
                                <td>
                                    <a href="/profile/edit/@address.Id" class="btn btn-sm rounded-circle btn-outline-primary">Update</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                }
                else
                {
                    <h5 class="my-5">You don't have any address</h5>
                }
                <NavLink href="/profile/create" class="btn btn-outline-success">Add New Address</NavLink>
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop show"></div>

@code {

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public Address[]? Addresses { get; set; }

}