@page "/"

<PageTitle>Index</PageTitle>

<h1>The best desserts 💕💕</h1>
<p class="lead">Welcome to my ASP.NET project, you can access the swagger ui and interact with the api <a href="/swagger" class="link-danger">here</a></p>