<footer class="mt-auto text-white-50">
    <p>Cover template for <a target="_blank" href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a target="_blank" href="https://twitter.com/mdo" class="text-white">&#64;mdo</a>.</p>
</footer>