<header class="mb-auto">
    <div>
        <h3 class="float-md-start mb-0">Kuro Desserts</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <NavLink class="nav-link fw-bold py-1 px-0" Match="NavLinkMatch.All" href="/">Home</NavLink>
            <NavLink class="nav-link fw-bold py-1 px-0" href="/desserts">Desserts</NavLink>
            <NavLink class="nav-link fw-bold py-1 px-0" href="#">Register</NavLink>
            <NavLink class="nav-link fw-bold py-1 px-0" href="#">Login</NavLink>
        </nav>
    </div>
</header>